:where(.dialog .dialog-content) {
  max-width: 90vw;
  max-height: 85vh;
  width: fit-content;
  min-width: 400px;
  min-height: 200px;
  box-shadow: var(--box-shadow);
}

.dialog {
  .dialog-header {
    max-height: 50px;
  }

  &.dialog-sm {
    .dialog-content {
      width: 400px;
    }
  }

  &.dialog-md {
    .dialog-content {
      width: 800px;
    }
  }

  &.dialog-lg {
    .dialog-content {
      width: 1200px;
    }
  }

  &.dialog-full {
    width: 100%;
    height: 100%;
  }
}
