label {
  color: var(--typeface-light);
  font-size: var(--font-size-xs);
  font-weight: bold;
  background: transparent;
  padding: 0px 4px;
  border-radius: var(--border-radius-sm);
  text-wrap: nowrap;
  display: block;
  width: fit-content;
  position: relative;
  margin-left: 6px;
  margin-bottom: -14px;
  top: 4px;

  &:has(+ .container-input:user-invalid) {
    color: var(--error);
  }

  &:has(+ .container-input:required) {
    &::after {
      content: " *";
      font-size: var(--font-size-md);
      color: var(--error);
      font-weight: bold;
      line-height: 1;
      vertical-align: sub;
    }
  }

  &:has(+ .container-input:hover) {
    color: var(--typeface-dark);
  }

  &:has(+ .container-input:focus-within) {
    color: var(--primary);
  }

  &:has(+ .container-input:disabled) {
    color: var(--typeface-light);
  }
}

.container-input ~ [data-component="LoadingSpinner"] {
  position: absolute;
  color: var(--primary);
  opacity: 1;
  background-color: transparent;
  right: 12px;
  bottom: 8px;
  pointer-events: none;
}

.container-input {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  height: 44px;
  padding-right: 4px;
  background-color: var(--background-white);
  font-size: var(--font-size-sm);
  padding-left: 10px;
  padding-top: 18px;
  outline: none;

  &[aria-busy="true"] {
    cursor: wait;
    color: transparent;
  }

  &[aria-busy="true"]::placeholder,
  &[aria-busy="true"].placeholder {
    color: transparent;
  }

  &::placeholder,
  ::placeholder,
  .placeholder {
    color: var(--placeholder-color);
    font-size: var(--font-size-sm);
  }

  &:user-invalid {
    cursor: not-allowed;
    border-color: var(--error);
  }

  &:hover {
    cursor: pointer;
    border-color: var(--typeface-dark);
  }

  &:focus-within {
    border-color: var(--primary);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    border-color: var(--border-color);
  }

  /* Select Specific styles */
  & option[disabled][selected],
  & option.placeholder {
    color: var(--placeholder-color);
    font-size: var(--font-size-sm);
  }

  &:has(option[disabled][selected]:checked),
  &:has(option.placeholder:checked) {
    color: var(--placeholder-color);
  }

  /* Date Input Specific styles */
  &[type="date"]:not(:focus):invalid {
    color: var(--error-color);
  }

  &[type="date"]::-webkit-datetime-edit-text,
  &[type="date"]::-webkit-datetime-edit-month-field,
  &[type="date"]::-webkit-datetime-edit-day-field,
  &[type="date"]::-webkit-datetime-edit-year-field {
    color: var(--placeholder-color);
  }

  &[type="date"]:valid::-webkit-datetime-edit-text,
  &[type="date"]:valid::-webkit-datetime-edit-month-field,
  &[type="date"]:valid::-webkit-datetime-edit-day-field,
  &[type="date"]:valid::-webkit-datetime-edit-year-field {
    color: var(--typeface-medium);
  }
}
