* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  vertical-align: baseline;
  font-family: var(--typeface-sans-serif);
  font-size: var(--font-size-md);
}

sup {
  vertical-align: super;
  font-size: small;
}

ul,
ol {
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  height: 100vh;
  width: 100%;
}

p,
span,
div,
section,
article {
  line-height: 1.5;
}

a {
  text-decoration: none;
}
