:root {
  /* COLORS */
  --color-primary: #038fc6;
  --color-primary_light: #e5f7ff;
  --color-success: #179b03;
  --color-success_light: #e0ffdb;
  --color-warning: rgb(190, 156, 0);
  --color-warning_light: #fcfade;
  --color-error: #e12f26;
  --color-error_light: #ffeaea;
  --color-white: #fcfcfc;
  --color-grey_light: #777777;
  --color-placeholder: #9d9d9d;
  --color-grey_medium: #555555;
  --color-grey_dark: #1c1c1c;
  --color-disabled: #9d9d9d;
  --color-border: #dddddd;
  --color-border_light: #e5e5e5;

  /* FONT-FAMILY */
  --font_family-sans_serif: Arial, Helvetica, sans-serif;
  --font_family-serif: Times, serif;
  --font_family-monospace: "Cousine", monospace;

  /* FONT-SIZE */
  --font_size-3xl: 3rem;
  --font_size-2xl: 2rem;
  --font_size-xl: 1.5rem;
  --font_size-lg: 1.3rem;
  --font_size-md: 1rem;
  --font_size-sm: 0.8rem;
  --font_size-xs: 0.7rem;

  /* BACKGROUND */
  --background-dark: #afafaf;
  --background-light: #d3d3d3;
  --background-white: #ffffff;
  --background-backdrop: rgba(0, 0, 0, 0.5);
  --background-backdrop-light: rgba(0, 0, 0, 0.2);
  --background-surface: #f5f7fa;
  --background-primary-gradient: linear-gradient(90deg, rgba(17, 117, 221, 1) 0%, rgba(17, 110, 221, 1) 23%, rgba(17, 138, 221, 1) 50%, rgba(17, 162, 221, 1) 100%);

  /* FOCUS */
  --outline-focus: 2px dashed var(--color-primary);

  /* OPACITY */
  --opacity-disabled: 0.6;
  --opacity-hover: 0.8;

  /* BORDER */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-circle: 50%;

  /* SPACING */
  --space-xs: 2px;
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 24px;
  --space-2xl: 40px;
  --space-3xl: 64px;

  /* BOW SHADOW */
  --box-shadow: 4px 0 24px rgba(0, 0, 0, 0.1);

  /* Z-INDEX */
  --z-index-drawer: 10;
  --z-index-toast: 9999;
}
