button[data-component="Button"] {
  &.variant-filled {
    border: 1px solid transparent;
  }

  &:hover:not(:disabled) {
    /* Outlined or Regular */
    &.variant-outlined,
    &.variant-regular {
      &.color-primary {
        background-color: var(--primary-light);
      }
      &.color-error {
        background-color: var(--error-light);
      }
    }

    /* Filled */
    &.variant-filled {
      &.background-primary {
        background-color: var(--background-white);
        color: var(--primary);
        border-color: var(--primary);
      }

      &.background-error {
        background-color: var(--background-white);
        color: var(--error);
        border-color: var(--error);
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus {
    outline: 2px solid var(--primary);
  }
}
