button[data-css="Button"] {
  &:hover:not(:disabled) {
    /* Outlined or Regular */
    &.variant-outlined,
    &.variant-regular {
      &.color-primary {
        background-color: var(--color-primary_light);
      }
      &.color-error {
        background-color: var(--color-error_light);
      }
    }

    /* Filled */
    &.variant-filled {
      &.background-primary {
        background-color: var(--background-white);
        color: var(--color-primary);
        border-color: var(--color-primary);
      }

      &.background-error {
        background-color: var(--background-white);
        color: var(--color-error);
        border-color: var(--color-error);
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 2px dashed var(--color-primary);
  }
}
