[data-css="Tabs"] button[role="tab"] {
  &:hover:not(:disabled):not([aria-selected="true"]) {
    background-color: var(--color-primary_light);
  }

  &:focus-visible {
    outline: var(--outline-focus);
    outline-offset: 2px;
    outline-style: dashed;
  }
}
