[data-css="ButtonIcon"] {
  transition: all 0.2s ease-in-out;

  &:hover:not(:disabled) {
    &.color-primary {
      background-color: var(--color-primary_light);
    }
    &.color-error {
      background-color: var(--color-error_light);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 2px dashed var(--color-primary);
  }
}
