.button-icon {
  transition: all 0.2s ease-in-out;

  &:hover:not(:disabled) {
    &.color-primary {
      background-color: var(--primary-light);
    }
    &.color-error {
      background-color: var(--error-light);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 2px solid var(--primary);
  }
}
