.background-light {
  background-color: var(--background-light);
}

.background-dark {
  background-color: var(--background-dark);
}

.background-white {
  background-color: var(--background-white);
}

.background-dialog-opacity {
  background-color: var(--background-backdrop);
}

.background-backdrop-light {
  background-color: var(--background-backdrop-light);
  backdrop-filter: blur(2px);
  inset: 0;
}

.background-transparent {
  background-color: transparent;
}

.background-primary {
  background-color: var(--color-primary);
}

.background-error {
  background-color: var(--color-error);
}

.background-warning {
  background-color: var(--color-warning);
}

.background-success {
  background-color: var(--color-success);
}

.background-success-light {
  background-color: var(--color-success_light);
}

.background-error-light {
  background-color: var(--color-error_light);
}

.background-warning-light {
  background-color: var(--color-warning_light);
}

.background-primary-light {
  background-color: var(--color-primary_light);
}

.background-primary-gradient {
  background: var(--background-primary-gradient);
}
