.color-primary {
  color: var(--color-primary);
}

.color-white {
  color: var(--color-white);
}

.color-light-primary {
  color: var(--color-primary_light);
}

.color-success {
  color: var(--color-success);
}

.color-light-success {
  color: var(--color-success_light);
}

.color-warning {
  color: var(--color-warning);
}

.color-light-warning {
  color: var(--color-warning_light);
}

.color-error {
  color: var(--color-error);
}

.color-light-error {
  color: var(--color-error_light);
}

.color-typeface-white {
  color: var(--color-white);
}

.color-typeface-light {
  color: var(--color-grey_light);
}

.color-typeface-medium {
  color: var(--color-grey_medium);
}

.color-typeface-dark {
  color: var(--color-grey_dark);
}

.color-typeface-disabled {
  color: var(--color-disabled);
}
