.position-relative,
.position-absolute,
.position-fixed,
.position-sticky,
.position-static {
  &.top {
    top: 0;
  }

  &.right {
    right: 0;
  }

  &.bottom {
    bottom: 0;
  }

  &.left {
    left: 0;
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

.position-static {
  position: static;
}
