.width-viewport {
  width: 100vw;
}

.height-viewport {
  height: 100vh;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.width-half {
  width: 50%;
}

.height-half {
  height: 50%;
}

.width-quarter {
  width: 25%;
}

.height-quarter {
  height: 25%;
}

.width-third {
  width: 33.33%;
}

.height-third {
  height: 33.33%;
}

.width-two-thirds {
  width: 66.66%;
}

.width-100px {
  width: 100px;
}

.width-150px {
  width: 150px;
}

.width-200px {
  width: 200px;
}

.width-250px {
  width: 250px;
}

.width-300px {
  width: 300px;
}

.width-400px {
  width: 400px;
}

.width-500px {
  width: 500px;
}

.width-600px {
  width: 600px;
}

.width-700px {
  width: 700px;
}

.width-800px {
  width: 800px;
}

.width-900px {
  width: 900px;
}

.width-1000px {
  width: 1000px;
}

.height-two-thirds {
  height: 66.66%;
}

.width-auto {
  width: auto;
}

.height-auto {
  height: auto;
}

.width-min {
  width: min-content;
}

.height-min {
  height: min-content;
}

.width-max {
  width: max-content;
}

.height-max {
  height: max-content;
}

.width-fit {
  width: fit-content;
}

.height-fit {
  height: fit-content;
}

.max-width-full {
  max-width: 100%;
}

.min-width-full {
  min-width: 100%;
}

.aspect-ratio-1 {
  aspect-ratio: 1 / 1;
}
