@import "./reset.css";
@import "./variables.css";
@import "./typography.css";
@import "./sizing.css";
@import "./spacing.css";
@import "./flex-box.css";
@import "./container-input.css";
@import "./cursor.css";
@import "./border.css";
@import "./background.css";
@import "./color.css";
@import "./display.css";
@import "./position.css";
@import "./responsive.css";
@import "./animations.css";
@import "./text-max-lines.css";
