.container-input {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-right: 4px;
  background-color: var(--background-white);

  &:has(:required) {
    label::after {
      content: " *";
      font-size: var(--font-size-md);
      color: var(--error-color);
      font-weight: bold;
      line-height: 1;
    }
  }

  &:has(input:user-invalid, textarea:user-invalid, select:user-invalid, datalist:user-invalid) {
    cursor: not-allowed;
    border-color: var(--error-color);

    label {
      color: var(--error-color);
    }
  }

  &:hover {
    cursor: pointer;
    border-color: var(--typeface-dark);
    label {
      color: var(--typeface-dark);
    }
  }

  &:focus-within {
    border-color: var(--primary);
    label {
      color: var(--primary);
    }
  }

  &:has(input:disabled, textarea:disabled, select:disabled, datalist:disabled) {
    cursor: not-allowed;
    opacity: 0.6;
    border-color: var(--border-color);

    label {
      color: var(--typeface-light);
    }

    input,
    textarea,
    select,
    datalist {
      cursor: not-allowed;
    }
  }

  label {
    color: var(--typeface-light);
    font-size: var(--font-size-xs);
    font-weight: bold;
    background: var(--background-white);
    padding: 0px 4px;
    border-radius: var(--border-radius-sm);
    text-wrap: nowrap;
    top: -10px;
  }

  input,
  textarea,
  select,
  datalist {
    height: 100%;
    font-size: var(--font-size-sm);
    border: none;
    width: 100%;
    padding-left: 10px;
    background: var(--background-white);
    border-radius: var(--border-radius-sm);

    &::placeholder {
      color: var(--placeholder-color);
      font-size: var(--font-size-sm);
    }
  }

  select option[disabled][selected],
  select option.placeholder {
    color: var(--placeholder-color);
    font-size: var(--font-size-sm);
  }

  select:has(option[disabled][selected]:checked),
  select:has(option.placeholder:checked) {
    color: var(--placeholder-color);
  }

  input[type="date"]:not(:focus):invalid {
    color: var(--placeholder-color);
  }

  input[type="date"]::-webkit-datetime-edit-text,
  input[type="date"]::-webkit-datetime-edit-month-field,
  input[type="date"]::-webkit-datetime-edit-day-field,
  input[type="date"]::-webkit-datetime-edit-year-field {
    color: var(--placeholder-color);
  }

  input[type="date"]:valid::-webkit-datetime-edit-text,
  input[type="date"]:valid::-webkit-datetime-edit-month-field,
  input[type="date"]:valid::-webkit-datetime-edit-day-field,
  input[type="date"]:valid::-webkit-datetime-edit-year-field {
    color: var(--typeface-medium);
  }
}
