.display-flex {
  display: flex;

  &.flex-row {
    flex-direction: row;
  }

  &.flex-row-reverse {
    flex-direction: row-reverse;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.flex-column-reverse {
    flex-direction: column-reverse;
  }

  &.flex-center {
    justify-content: center;
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.justify-end {
    justify-content: end;
  }

  &.align-end {
    align-items: end;
  }

  &.justify-start {
    justify-content: start;
  }

  &.align-start {
    align-items: start;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.gap-xs {
    gap: var(--space-xs);
  }

  &.gap-sm {
    gap: var(--space-sm);
  }

  &.gap-md {
    gap: var(--space-md);
  }

  &.gap-lg {
    gap: var(--space-lg);
  }

  &.gap-xl {
    gap: var(--space-xl);
  }

  &.gap-2xl {
    gap: var(--space-2xl);
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-no-wrap {
    flex-wrap: nowrap;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-grow {
    flex-grow: 1;
  }

  .flex-shrink {
    flex-shrink: 1;
  }
}
