.display-flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.row-reverse {
    flex-direction: row-reverse;
  }

  &.column {
    flex-direction: column;
  }

  &.column-reverse {
    flex-direction: column-reverse;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.justify-end {
    justify-content: end;
  }

  &.align-end {
    align-items: end;
  }

  &.justify-start {
    justify-content: start;
  }

  &.align-start {
    align-items: start;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.gap-xs {
    gap: var(--space-xs);
  }

  &.gap-sm {
    gap: var(--space-sm);
  }

  &.gap-md {
    gap: var(--space-md);
  }

  &.gap-lg {
    gap: var(--space-lg);
  }

  &.gap-xl {
    gap: var(--space-xl);
  }

  &.gap-2xl {
    gap: var(--space-2xl);
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.no-wrap {
    flex-wrap: nowrap;
  }
}

.flex-1 {
  flex: 1;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}
