.typography {
  line-height: 1.1;
  /* WEIGHT */

  &.normal {
    font-weight: normal;
  }

  &.bold {
    font-weight: bold;
  }

  /* STYLE */

  &.italic {
    font-style: italic;
  }

  &.underline {
    text-decoration: underline;
  }

  /* SIZE */

  &.size-xs {
    font-size: var(--font-size-xs);
  }

  &.size-sm {
    font-size: var(--font-size-sm);
  }

  &.size-md {
    font-size: var(--font-size-md);
  }

  &.size-lg {
    font-size: var(--font-size-lg);
  }

  &.size-xl {
    font-size: var(--font-size-xl);
  }

  &.size-2xl {
    font-size: var(--font-size-2xl);
  }

  /* ALIGN */

  &.align-left {
    text-align: left;
  }

  &.align-center {
    text-align: center;
  }

  &.align-right {
    text-align: right;
  }

  &.vertical-top {
    vertical-align: top;
  }

  &.vertical-middle {
    vertical-align: middle;
  }

  &.vertical-bottom {
    vertical-align: bottom;
  }

  &.preset-title {
    font-size: var(--font-size-2xl);
    font-weight: bold;
    color: var(--typeface-dark);
  }

  &.preset-body {
    font-size: var(--font-size-md);
    font-weight: normal;
    color: var(--typeface-dark);
  }

  &.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &.clip {
    overflow: clip;
  }
}
