[data-css="DesignSystem"] {
  .section {
    box-shadow: var(--box-shadow);
  }

  .border-bottom-dashed {
    border-bottom: 1px dashed var(--color-border);
  }

  .shadow-sm {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  code {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2px 4px;
    border-radius: 4px;
    font-family: var(--font_family-monospace);
  }
}
