label[data-css="Range"] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;

  .label-text {
    font-size: var(--font_size-xs);
    font-weight: bold;
  }

  input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  input {
    cursor: pointer;
    accent-color: var(--color-primary);

    &:checked {
      accent-color: var(--color-primary);
    }

    &:focus-visible {
      outline: 1px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:user-invalid {
      accent-color: var(--color-error);
    }
  }
}
