label[data-component="Checkbox"] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;

  span {
    font-size: var(--font_size-xs);
    font-weight: bold;
  }

  &:has(input:required) {
    .label-text::after {
      content: " *";
      font-size: var(--font_size-md);
      color: var(--color-error);
      font-weight: bold;
      line-height: 1;
      vertical-align: top;
    }
  }

  input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  input {
    cursor: pointer;
    width: 18px;
    height: 18px;
    accent-color: var(--color-primary);

    &:checked {
      accent-color: var(--color-primary);
    }

    &:focus-visible {
      outline: 1px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:user-invalid {
      accent-color: var(--color-error);
    }
  }
}
