label[data-component="Checkbox"] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;

  span {
    font-size: var(--font-size-xs);
    font-weight: bold;
  }

  &:has(input:required) {
    .label-text::after {
      content: " *";
      font-size: var(--font-size-md);
      color: var(--error);
      font-weight: bold;
      line-height: 1;
      vertical-align: top;
    }
  }

  input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  input {
    cursor: pointer;
    width: 18px;
    height: 18px;
    accent-color: var(--primary);

    &:checked {
      accent-color: var(--primary);
    }

    &:focus-visible {
      outline: 1px solid var(--primary);
      outline-offset: 2px;
    }

    &:user-invalid {
      accent-color: var(--error);
    }
  }
}
