[data-css="Tooltip"] {
  position: relative;
  display: inline-flex;
  width: fit-content;

  & [role="tooltip"] {
    position: absolute;
    z-index: 9999;
    max-width: 250px;
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--border-radius-md);
    background-color: var(--background-white);
    color: var(--color-grey_dark);
    font-size: var(--font-size-sm);
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    border: 1px solid var(--color-border_light);
  }

  &.tooltip-visible [role="tooltip"] {
    opacity: 1;
  }

  &[data-position="top"] [role="tooltip"] {
    bottom: calc(100% + var(--space-sm));
    left: 50%;
    translate: -50% 0;
  }

  &[data-position="bottom"] [role="tooltip"] {
    top: calc(100% + var(--space-sm));
    left: 50%;
    translate: -50% 0;
  }

  &[data-position="left"] [role="tooltip"] {
    right: calc(100% + var(--space-sm));
    top: 50%;
    translate: 0 -50%;
  }

  &[data-position="right"] [role="tooltip"] {
    left: calc(100% + var(--space-sm));
    top: 50%;
    translate: 0 -50%;
  }
}
